$blueish: #44FFFF;
body {
  // background: $blueish;
  background-color: #f0f0f0;
  font-family: helvetica;
}

// a {
//   color: #f0f0f0;
// }

.navbar {
  // background-color: white;
  // margin-top: 25px;
  // background-color: #2c2c2c;
  background-color: #00316b;
  padding-bottom: 10px;
  margin-bottom: 0;
  border-radius: 0;
  // min-width: 1000px;
  // width: 1000px;

  a {
    margin-left: -20px;
    // text-transform: uppercase;
    color: #f0f0f0;
    font-family: 'Oswald', sans-serif;
  }

  .subtitle {
    font-size: 20px;
    margin-left: 20px;
    font-family: helvetica;
  }

  .navbar-buttons {
    margin-right: -20px;
  }

  .navbar-logo {
    margin-top: 2px;
  }

  .navbar-login {
    margin-top: 20px;
  }

  .navbar-logout {
    margin-top: 20px;
  }

  .navbar-register {
    margin-top: 20px;
    margin-right: 5px;
  }
}

.media-panel {
  background-color: white;
  margin-top: 25px;
  padding-bottom: 25px;

  .glyphicon {
      font-size: 40px;
      color: gray;
  }

  h2 {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    // text-align: justify;
    // font-family: 'Oswald', sans-serif;
  }

  iframe {
    margin: 0 auto;
    margin-left: 60px;
    margin-right: 60px;
  }

  .icons-panel {
    padding-left: 60px;
    margin: 30px 0;

    span {
      padding-right: 15px;
      vertical-align: middle;
    }

    .bold {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      padding-right: 15px;
    }

    h4 {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.join-panel {

  // background-color: white;
  margin-top: 25px;

  .header {
    background-color: #00316b;
    color: #f0f0f0;
    text-align: center;
    padding: 16px;
    text-transform: uppercase;
  }

  .join-panel-buttons {
    width: 360px;
    margin: 0 0 20px 0;
    background-color: #f0f0f0;
    display: inline-block;
    color: #00316b;
    box-shadow: 1px 1px 1px #2c2c2c;

    .join-icons-panel {
      background-color: white;
      padding: 20px 40px;

      .glyphicon {
        font-size: 40px;
        color: #00316b;
      }

      span {
        padding-right: 10px;
        vertical-align: middle;
      }

      .bold {
        color: #d20000;
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        margin: 0;
        font-family: 'Oswald', sans-serif;
        padding-right: 10px;
      }

      h3 {
        margin: 0;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
      }

    }
  }

}

.join-panel-buttons:hover {
  background-color: #e6e6e6;
}

.league-header {
  background-color: #00316b;
  color: #f0f0f0;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
  padding: 16px;
}

.league-panel {
  background-color: white;
  height: 419px;
  overflow: scroll;

  ul {
    background-color: white;
    padding-left: 0;
    margin-bottom: 0;
    text-align: left;

    a:hover {
      color: red;
      text-decoration: none;

      li {
        background-color: #eee;
      }
    }

    li {
      list-style: none;

      div {
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: 1px solid #ccc;
        padding: 20px;
      }

      h4 {
        margin: 0;
        color: #333;
        padding-bottom: 8px;
      }

      h5 {
        margin: 0;
        color: #888;
      }

    }
  }
}

.login-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.register-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.join-league-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.create-league-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.league-info {
  // height: 600px;
  background-color: white;
  margin-top: 25px;
  // border-radius: 2px;
  // border: 1px solid rgb(221, 221, 221);
}

.posts {
  height: 600px;
  background-color: #f0f0f0;
  text-align: center;

  .post-wrapper {
    background-color: white;
    margin: 25px 10px 10px 10px;
    min-height: 1500px;
    // border-radius: 2px;
    // border: 1px solid rgb(221, 221, 221);
  }

  .post-area {
    display: inline-block;
    width: 94%;
    padding: 10px;
    margin-top: 10px;
  }

  button {
    margin-right: 3%;
  }
}

.media-feeds {
  // height: 600px;
  background-color: #f0f0f0;

  .media-rss {
    // height: 600px;
    overflow: scroll;

    ul {
      padding-left: 0;
      background-color: #f0f0f0;
      margin-top: 25px;
      border-radius: 0px;

      li {
        background-color: white;
        margin-bottom: 10px;
        border-radius: 0px;
        border: none;
      }

      h5 {
        color: #d20000;
        font-family: 'Oswald', sans-serif;
      }

      h6 {
        color: #666;
        line-height: 16px;
      }

      a {
        color: #00316b;
        display: inline-block;
      }
    }
  }
}
