$blueish: #44FFFF;
body {
  background: $blueish;
}

.navbar {
    background-color: gray;
    padding-bottom: 10px;
    // min-width: 1000px;
    // width: 1000px;

  .navbar-title {

  }

  .navbar-logo {
    margin-top: 2px;
  }

  .navbar-login {
    margin-top: 20px;
  }
  .navbar-register {
    margin-top: 20px;
    margin-right: 5px;
  }
}

.media {
  background-color: red;
  margin: 0;
}

.join-panel {

  height: 600px;
  background-color: blue;

  .join-panel-buttons {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    width: 100%;
    background-color: green;
    color: white;
  }
}

.league-panel {
  text-align: center;
  background-color: orange;
  height: 600px;
}

.login-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.register-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
