$blueish: #44FFFF;
body {
  background: $blueish;
  font-family: helvetica;
}

.navbar {
    background-color: #fafafa;
    padding-bottom: 10px;
    margin-bottom: 0;
    // min-width: 1000px;
    // width: 1000px;

  .navbar-title {
    font-family: 'Oswald', sans-serif;

    h2 {
      text-transform: uppercase;
    }

  }

  .navbar-logo {
    margin-top: 2px;
  }

  .navbar-login {
    margin-top: 20px;
  }
  .navbar-register {
    margin-top: 20px;
    margin-right: 5px;
  }
}

.media {
  background-color: red;
  margin: 0;
}

.join-panel {

  height: 600px;
  background-color: blue;

  .join-panel-buttons {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    width: 100%;
    background-color: green;
    color: white;
  }
}

.league-panel {
  text-align: center;
  background-color: orange;
  height: 600px;
}

.login-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.register-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.join-league-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.create-league-form {
  background-color: lightgray;
  height: 600px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.league-info {
  height: 600px;
  background-color: #fcfcfc;
}

.posts {
  height: 600px;
  background-color: #fcfcfc;

  .post-area {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
  }
}

.media-feeds {
  height: 600px;
  background-color: #fcfcfc;

  .media-rss {
    height: 600px;
    overflow: scroll;

    ul {
      padding-left: 0;
      background-color: #fcfcfc;

      li {
        background-color: #fcfcfc;
      }

      h5 {
        color: #d20000;
        font-family: 'Oswald', sans-serif;
      }

      h6 {
        color: #333333;
        line-height: 16px;
      }

      a {
        color: #00316b;
        display: inline-block;
      }
    }
  }
}
